<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertCart">
		INSERT
		  INTO TB_CART
		  (
		    CA_NO
		  , BK_NO_OR
		  , MEM_NO_OR
		  , AMOUNT
		  , TOTAL_PRICE
		  , BK_TITLE
		  , AUTHOR
		  , ORIGIN_PRICE
		  , PRICE
		  , MAIN_IMG
		  )
		  VALUES
		  (
		     SEQ_CNO
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   )
	</entry>
	

</properties>