<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertCart">
		INSERT
		  INTO TB_CART
		  (
		    CA_NO
		  , BK_NO_CA
		  , MEM_NO_CA
		  , AMOUNT
		  , TOTAL_PRICE
		  , BK_TITLE
		  , AUTHOR
		  , ORIGIN_PRICE
		  , PRICE
		  , MAIN_IMG
		  )
		  VALUES
		  (
		     SEQ_CNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   )
	</entry>
	
	<entry key="selectCartList">
		SELECT
		       CA_NO
		     , BK_NO_CA
		     , MEM_NO_CA
		     , AMOUNT
		     , TOTAL_PRICE
		     , STATUS
		     , BK_TITLE
		     , AUTHOR
		     , ORIGIN_PRICE
		     , PRICE
		     , MAIN_IMG
		  FROM TB_CART
		  JOIN TB_MEMBER ON (MEM_NO_CA = MEM_NO)
		 WHERE MEM_NO_CA = ?
	</entry>
	
	
	<entry key="selectCouponList">
		SELECT COU_NAME,
			   COU_YN,
			   DISCOUNT
		  FROM TB_MEMBER M
		  JOIN TB_MEM_COUPON ON (MEM_NO_COU = M.MEM_NO)
		  JOIN TB_COUPON C ON (C.COU_NO = COU_NO_COU)
		 WHERE COU_YN ='N'
		   AND M.MEM_NO = ?
	
	</entry>
	
	<entry key="selectCoupon">
		SELECT COU_NAME,
			   COU_YN,
			   DISCOUNT
		  FROM TB_MEMBER M
		  JOIN TB_MEM_COUPON ON (MEM_NO_COU = M.MEM_NO)
		  JOIN TB_COUPON C ON (C.COU_NO = COU_NO_COU)
		 WHERE COU_YN ='N'
		   AND M.MEM_NO = ?
	
	</entry>
	

</properties>