<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key = "selectCouponList">
		SELECT
		       COU_NO
		     , COU_NAME
		     , DISCOUNT
		     , COU_START
		     , COU_END
		     , COU_CONDITION
		  FROM TB_COUPON
		 WHERE COU_STATUS = 'Y'
		 ORDER 
		    BY COU_NO DESC
	</entry>
	
	<entry key = "deleteCoupon">
		UPDATE
		       TB_COUPON
		   SET COU_STATUS = 'N'
		 WHERE COU_NO = ?
	</entry>
	
	<entry key = "insertCoupon">
		INSERT
		  INTO TB_COUPON
		  (
		    COU_NO
		  , COU_NAME
		  , DISCOUNT
		  , COU_START
		  , COU_END
		  , COU_CONDITION
		  )
		  VALUES
		  (
		    SEQ_CNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>


</properties>