<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key = "selectCouponList">
			SELECT
		       COU_NO
		     , COU_NAME
		     , DISCOUNT
		     , TO_CHAR(COU_START,'YYYY-MM-DD') COU_START
		     , TO_CHAR(COU_END,'YYYY-MM-DD') COU_END
		     , COU_CONDITION
		  FROM TB_COUPON
		 WHERE COU_STATUS = 'Y'
		 ORDER 
		    BY COU_NO DESC
		
	</entry>
	
	<entry key = "deleteCoupon">
		UPDATE
		       TB_COUPON
		   SET COU_STATUS = 'N'
		 WHERE COU_NO = ?
	</entry>
	
	<entry key = "insertCoupon">
		INSERT
		  INTO TB_COUPON
		  (
		    COU_NO
		  , COU_NAME
		  , DISCOUNT
		  , COU_START
		  , COU_END
		  , COU_CONDITION
		  )
		  VALUES
		  (
		    SEQ_COUNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertCouponAllMember">
	
	
		INSERT INTO TB_MEM_COUPON
		(
			COU_MEM_NO,
			MEM_NO_COU,
			COU_NO_COU,
			COU_DATE,
			COU_YN
		)
		VALUES(SEQ_CMN.NEXTVAL, ?, ?, SYSDATE, 'N')		
	</entry>
	
	<entry key="selectMemCouponList">
		SELECT
	       COU_NO
	     , COU_NAME
	     , DISCOUNT
	     , TO_CHAR(COU_END,'YYYY-MM-DD') COU_END
	     , COU_CONDITION
	     FROM TB_COUPON
		WHERE COU_NO IN(
		    SELECT COU_NO_COU AS COU_NO
		    FROM TB_MEM_COUPON
		    WHERE COU_YN = 'N' AND MEM_NO_COU = ?
	)
	</entry>
	
	
	<entry key = "selectEndCouList">
			SELECT
		       COU_NO
		     , COU_NAME
		     , DISCOUNT
		     , TO_CHAR(COU_START,'YYYY-MM-DD') COU_START
		     , TO_CHAR(COU_END,'YYYY-MM-DD') COU_END
		     , COU_CONDITION
		  FROM TB_COUPON
		 WHERE COU_STATUS = 'N'
		 ORDER 
		    BY COU_NO DESC
		
	</entry>
	


</properties>