<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


	<entry key="selectCouponList">
		SELECT
		         COU_NO
		       , COU_NAME
		       , DISCOUNT
		       , COU_START
		       , COU_END
		 	FROM TB_COUPON
		   WHERE COU_STATUS = 'Y'
	</entry>
	
	<entry key="selectCouponEnd">
		SELECT
		         COU_NO
		       , COU_NAME
		       , DISCOUNT
		       , COU_START
		       , COU_END
		 	FROM TB_COUPON
		   WHERE COU_STATUS = 'N'
	</entry>
	
	
</properties>

		