<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectMyAddress">
		
	SELECT
			 AD_NO
			,MEM_NO_AD
			,AD_LOCATION
			,AD_NAME
			,AD_PHONE
			,AD_POST
			,AD_ROAD
			,AD_DETAIL
			
	 FROM 
             TB_ADDRESS_LIST
     WHERE 
             AD_NO =  ?
        AND	 AD_POST =? 
		AND	 AD_ROAD =?
		AND	 AD_DETAIL =?
	</entry>
	
	
	<entry key="updateMyAddress">
		UPDATE
		   	   TB_ADDRESS_LIST
		   SET AD_NAME= ?
		   	 , AD_LOCATION= ?
		     , AD_POST= ?
		     , AD_ROAD= ?
		     , AD_DETAIL
		 WHERE AD_LOCATION= ?  
	</entry>
	
	
	
</properties>