<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM BOARD
		 WHERE BOARD_TYPE= 1
		   AND STATUS= 'Y'
	</entry>

	<entry key="selectNoticeList">
		SELECT
		         NO_NO
		       , NO_TITLE
		       , MEM_ID
		       , NO_COUNT
		       , NO_DATE
		 	FROM TB_NOTICE N
		   JOIN TB_MEMBER ON (NO_WRITER = MEM_NO)
		   WHERE N.NO_STATUS = 'Y'
		   ORDER
		      BY NO_DATE DESC
	</entry>
	

</properties>