<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM TB_BOOK
		 WHERE BK_STATUS='Y'
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
                               BK_NO
                             , BK_NAME
                             , AUTHOR
                             , PUBLISHER
                             , decode( bk_division, 'in','국내도서', 'out','외국도서' , bk_division)  AS bk_division
                             , decode(BK_GENRE, 'novel' , '문학', 'economy','경제/경영','poem','시','science','과학','travel','여행',BK_GENRE) AS BK_GENRE 
                             , BK_ORIGIN_PRICE
                             , BK_PRICE
                             , BK_STOCK
                          FROM TB_BOOK 
                         WHERE BK_STATUS = 'Y' 
                         ORDER
                            BY BK_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>

	
	<entry key="selectBook">
		SELECT 
		       BK_ENROLL_DATE
		     , BK_NO
		     , BK_NAME
		     , ISBN
		     , BK_PUBLISH_DATE
		     , BK_PAGE_NO
		     , BK_KEYWORD
		     , BK_DESCRIPTION
		     , AT_DESCRIPTION
		     , BK_CONTENT_LIST
		     , BK_MAIN_IMG
		  FROM TB_BOOK
		 WHERE BK_NO = ?
		   AND BK_STATUS = 'Y' 
	</entry>
	
	<entry key="selectImage">
		SELECT
		       IMG_NO
		     , BK_NO_IMG
		     , IMG_PATH
		     , IMG_ENROLL_DATE
		  FROM TB_IMAGE
		 WHERE BK_NO_IMG = ?
	</entry>
	
	<entry key="deleteBook">
		UPDATE
		       TB_BOOK
		   SET BK_STATUS = 'N'
		 WHERE BK_NO = ?
		   AND BK_STATUS = 'Y' 
	</entry>
	<entry key="insertBookAdmin">
		INSERT INTO TB_BOOK 
		(
			BK_STATUS
			,BK_ENROLL_DATE
			,BK_PRICE
			,BK_NO
			,BK_HITS
			,BK_PAGE_NO
			,BK_STOCK
			,BK_ORIGIN_PRICE
			,AUTHOR
			,BK_NAME
			,BK_MAIN_IMG
			,BK_PUBLISH_DATE
			,BK_GENRE
			,BK_DIVISION
			,ISBN
			,PUBLISHER
			,AT_DESCRIPTION
			,BK_DESCRIPTION
			,BK_CONTENT_LIST
			,BK_KEYWORD
		)
			VALUES 
		(
			'Y'
			,SYSDATE
			,?
			,?
			,'0'
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
		)
	</entry>
	<entry key="insertImageAdmin">
		INSERT INTO TB_BOOK 
		(
			 BK_STATUS
			,BK_ENROLL_DATE
			,BK_PRICE
			,BK_NO
			,BK_HITS
			,BK_PAGE_NO
			,BK_STOCK
			,BK_ORIGIN_PRICE
			,AUTHOR
			,BK_NAME
			,BK_MAIN_IMG
			,BK_PUBLISH_DATE
			,BK_GENRE
			,BK_DIVISION
			,ISBN
			,PUBLISHER
			,AT_DESCRIPTION
			,BK_DESCRIPTION
			,BK_CONTENT_LIST
			,BK_KEYWORD
		)
			VALUES 
		(
			'Y'
			,SYSDATE
			,?
			,?
			,'0'
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
			,?
		)
	</entry>
	
	<entry key="selectSeqBook">
		 SELECT SEQ_BNO.NEXTVAL AS "seq" FROM DUAL
	</entry>
	
	<entry key="insertImageAdmin">
		 INSERT INTO TB_IMAGE ( IMG_NO,  BK_NO_IMG , IMG_PATH, IMG_ENROLL_DATE )  VALUES ( seq_img.nextval, ?, ?, SYSDATE )
	</entry>
	
</properties>