<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 오늘의추천 -->
	<entry key="selectBookList">
		SELECT 
			   BK_NO
		     , BK_NAME
		     , AUTHOR
		     , BK_MAIN_IMG
		  FROM TB_BOOK
		 WHERE BK_NO = ? 
	</entry>
	
	<!-- 책 상세보기 -->
	<entry key="bookDetail">
		SELECT
		       BK_NO
		     , BK_NAME
		     , AUTHOR
		     , PUBLISHER
		     , BK_PUBLISH_DATE
		     , BK_DIVISION
		     , BK_GENRE
		     , BK_ORIGIN_PRICE
		     , BK_PRICE
		     , BK_DESCRIPTION
		     , AT_DESCRIPTION
		     , BK_CONTENT_LIST
		     , BK_MAIN_IMG
		  FROM TB_BOOK
		  JOIN TB_IMAGE ON(BK_NO = BK_NO_IMG)
		 WHERE BK_NO = ?
	</entry>
	
	<entry key="bookInfoImg">
		SELECT
			   IMG_NO
			 , BK_NO_IMG
		     , IMG_PATH
		  FROM TB_IMAGE
		 WHERE BK_NO_IMG = ?
	</entry>
	
	<!-- 베스트 도서 리스트 -->
	<entry key="bestBookList">
                SELECT *
                  FROM 
		               (SELECT
		                       BK_NO
		                     , BK_HITS
		                     , BK_NAME
		                     , AUTHOR
		                     , BK_DIVISION
		                     , BK_GENRE
		                     , BK_PRICE
		                     , BK_MAIN_IMG
		                  FROM TB_BOOK
		                 ORDER 
		                    BY BK_HITS DESC)
		         WHERE ROWNUM between 1 and 20 
	</entry>


<!-- 	
	<entry key="insertBook">
		INSERT
  		  INTO TB_BOOK
		  (
	         BK_NO
	       , BK_NAME
	       , AUTHOR
	       , PUBLISHER
	       , BK_PUBLISH_DATE
	       , BK_DIVISION
	       , BK_GENRE
	       , BK_ORIGIN_PRICE
	       , BK_PRICE
	       , ISBN
	       , BK_STOCK
	       , BK_PAGE_NO
	       , BK_DESCRIPTION
	       , AT_DESCRIPTION
	       , BK_CONTENT_LIST
	       , BK_STOCK
	       )		       
		 VALUES
	       (
	         SEQ_BNO.NEXTVAL
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       )     
	</entry>

	
	<entry key="selectBook">
		SELECT 
		       BK_ENROLL_DATE
		     , BK_NO
		     , BK_NAME
		     , ISBN
		     , BK_PAGE_NO
		     , BK_KEYWORD
		     , BK_DESCRIPTION
		     , AT_DESCRIPTION
		     , BK_CONTENT_LIST
		     , BK_MAIN_IMG
		     , BK_PUBLISH_DATE
		  FROM TB_BOOK
		 WHERE BK_NO = ?
	</entry>
	
	<entry key="selectImage">
		SELECT
		       IMG_NO
		     , BK_NO
		     , IMG_PATH
		     , IMG_ENROLL_DATE
		  FROM TB_IMAGE
		 WHERE BK_NO = ?;
	</entry> -->
</properties>