<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectReviewList">
		SELECT
                MEM_ID
              , RE_DATE
			  , RE_CONTENT
	       FROM TB_REVIEW
           JOIN TB_MEMBER ON (MEM_NO_RE = MEM_NO)
	      WHERE BK_NO_RE = ?
	        AND RE_STATUS = 'Y'
	      ORDER BY RE_DATE DESC

	</entry>
	
	<entry key="insertReview">
		INSERT 
			   INTO TB_REVIEW
			   (
			    RE_NO
	          , MEM_NO_RE
	          , BK_NO_RE
			  , RE_CONTENT
			   )
			    VALUES
			   (
			    SEQ_RNO.NEXTVAL
	           , ?
	           , ?
	           , ?
			   )
	</entry>
	

	
	<entry key="deleteReview">
		UPDATE
				TB_REVIEW
		    SET RE_STATUS = 'N'
		  WHERE RE_NO = ? 
	</entry>
	
	
	
</properties>