<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectReviewList">
	SELECT
                MEM_ID
              , RE_DATE
			  , RE_CONTENT
	       FROM TB_REVIEW
           JOIN TB_MEMBER ON (MEM_NO_RE = MEM_NO)
	      WHERE RE_STATUS = 'Y'
	      ORDER
		        BY RE_DATE DESC

</entry>
	
	
	
	
	
</properties>